@font-face {
    font-family: "Super Mario World";
    src: url(/superjujuworld/fonts/SuperMarioWorld.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Super Mario World";
    font-size: 44px;
}

.game-board{
    width: 100%;
    /* height: 100%; */
    height: 700px;
    border: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEb, #E0F6FF);
}

.suggar {
    position: absolute;
    bottom: -2px;
    width: 70px;
    /* left: 130px; */
    animation: suggar-animation 1.5s infinite linear;
}

.princess {
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 560px;
    right: -560px;
/*     z-index: 0; */
    animation: cloud-animation 20s infinite linear;
}
.score {
	position: fixed;
	z-index: 10;
	height: 0;
	font-size: 0;
	font-weight: bold;
	color: gold;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
    color: gold;
    font-weight: bold;
}
.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 40%;
	left: 50%;
	font-size: 2em;
	transform: translate(-50%, -50%);
	text-align: center;
}
.messageStyle{
	background: white;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}

#restart {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    display: none;
    left: 70px;
    text-align: center;
    position: absolute;
}

@keyframes suggar-animation {
    from {
        right: -80px;
    }
    to 
    {
        right: 101%;
    }
}
@keyframes jump {
    0% {
        bottom: 0;
    }
    20% {
        bottom: 100px;
    }
    40% {
        bottom: 160px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 160px;
    }
    80% {
        bottom: 100px;
    }
    100% {
        bottom: 0
    }
}

@keyframes cloud-animation {
    from {
        right: -560px;
    }

    to {
        right: 100%;
    }
    
}
